@use "variable";
@use "mixins";
header {
  background: #ffffff;
  height:255px;
  .mobile-menu-button{
    display:none;
  }
  .transparent_logo{
    width:250px;
    position: absolute;
  }
  .top_header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .logo_name{
      display:flex;
      flex-direction: row;
      align-items: center;
      height:255px;
      justify-content: flex-start;
      a{
        text-decoration: none;
        color: variable.$primaryColor;
      }
       h1 {
        font-family: variable.$fontPrimary;
        display:block;
        font-size: 72px;
        text-align: right;
        line-height: 60px;
        font-weight: 500;
        text-decoration: none;

        span{
          display: block;
          font-size:64px;
          font-weight:500;
        }
      }
    }

    .header-form{
      opacity:1;
      width:425px;
      padding-top:map-get(variable.$gutters,xxl)
    }
  }
  .logo{
position: relative;
    z-index: 110;
width:238px;
    margin:0 auto;
    img{
      width:auto;
      height:320px;
      display:block;
      margin: 0 auto;
    }
  }
}


// header shaped button
.shaped-button{
  display:flex;
  flex-direction: row;
  width:220px;
  background:transparent;
  transition: .1s ease;
  cursor:pointer;
  margin-top:12px;

  .triangle-left {
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-right: 12px solid variable.$primaryColor;
    border-bottom: 24px solid transparent;
  }

  .middle-box{
    background: variable.$primaryColor;
    height:48px;
    width:220px;
    align-content: center;

    a{
      display:block;
      width:100%;
      text-align:center;
      color:#fff;
      text-decoration: none;
      font-weight: 600;
      font-size:24px;
      font-family: variable.$fontPrimary;
    }
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 12px solid variable.$primaryColor;
    border-bottom: 24px solid transparent;
  }

  &:hover{
    .triangle-left {
      border-right-color: variable.$primaryColor;
    }
    .triangle-right {
      border-left-color: variable.$primaryColor;
    }
    .middle-box {
      background: variable.$primaryColor;

      a{
        color:#fff;
      }
    }
  }

  &:active {
    transform: scale(0.98);
  }

}
.shaped-title{
  display:flex;
  width: 110%;
  flex-direction: row;
  background:transparent;
  transition: .1s ease;
  cursor:pointer;
  position: absolute;
  top:25px;
  left:-5%;
  .triangle-left {
    width: 0;
    height: 0;
    border-top: 39px solid transparent;
    border-right: 18px solid variable.$lightGreen50;
    border-bottom: 39px solid transparent;
  }

  .middle-box{
    background: variable.$lightGreen50;
    height:78px;
    align-content: center;
width: 110%;
    h2{
      display:block;
      width:100%;
      text-align:center;
      color: variable.$neutral0;
      text-decoration: none;
      font-weight: 500;
      font-family: variable.$fontPrimary;
      font-size:map-get(variable.$fontSizes, xxxxl);
    }
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 39px solid transparent;
    border-left: 18px solid variable.$lightGreen50;
    border-bottom: 39px solid transparent;
  }
}
.body-section{
  background: variable.$primaryColorDark;
  min-height:920px;
  padding-top:10rem;
}
//body section
.body-section-gradiant {
  position: relative;
  @include mixins.body-gradient;
  min-height: 800px;
}
.main-image-wrapper{
  width: 100%;
  position: relative;
  margin-bottom:map-get(variable.$gutters, xxl);
  .main-image{
    width: 100%;
    height: auto;
  }
}
.section-three-tiles{
  position: relative;
  margin-bottom: map-get(variable.$gutters, xl);

  .item{
    background: variable.$neutral100;
    border-radius: map-get(variable.$borderRadius, lg);
    align-content: center;
    padding:map-get(variable.$gutters, lg);
    margin-bottom:map-get(variable.$gutters, lg);
    @include mixins.softShadow;

    &_icon{
      display:block;
      width:64px;
      height:auto;
      margin:12px auto;
      position:relative;
    }

    &_title{
      text-align:center;
      font-weight:600;
    }

    &_text{
      text-align:center;
    }
  }
}
.section-help{
  background: variable.$yellow50;
  min-height:380px;
  border-radius: map-get(variable.$borderRadius, lg);
  @include mixins.softShadow;
  padding: map-get(variable.$gutters, xxl);

  h3{
    font-weight: 600;
  }

  img{
    width:100%;
    height:auto;
  }

  a.btn-primary,
  a.btn-default{
    margin-right:12px;
    margin-bottom:12px;
    text-decoration: none;
    background: variable.$primaryColor;
    display:inline-block;
    padding:16px 24px;
    border-radius: 44px;
    color:#fff;
    font-weight: 600;
    &:hover{
      background: variable.$lightGreen50;
      color:#000;
    }
  }

  a.btn-default{
    background: variable.$lightOrange;
    color:#000;
    font-weight: 600;

  }
}
.top-footer{
  background: variable.$green50;
  position: relative;
  padding:map-get(variable.$gutters, lg);

  &_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-family: variable.$fontPrimary;
      color: variable.$neutral100;
      margin:0;
      small{
        display:block;
        color: variable.$lightGreen50;
        font-style: italic;
      }
    }
  }

  &_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      color: variable.$neutral100;
text-align: center;
      font-weight: 500;
      small{
        display:block;
        font-size:14px;
        font-weight:400;
      }
    }

    a{
      display:block;
      height:44px;
      width:280px;
      color: variable.$neutral0;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      border: thin solid variable.$neutral0;
      border-radius: map-get(variable.$borderRadius, sm);
      align-content: center;
      background: variable.$lightGreen50;
    }
  }
}
footer{
  background: variable.$primaryColorDark;
  position: relative;
  padding-top: map-get(variable.$gutters, lg);

  .footer-line{
    height:10px;
    background: variable.$lightGreen;
    width: 100%;
    margin-top: map-get(variable.$gutters, lg);
  }
h6, h5, h4, p{
  color: variable.$neutral100;
}
  h6, h5, h4{
    font-weight: 600;
  }
 .footer-logo{
   width:100px;
   height:auto;
   margin:12px auto;
   display:block;
 }

  a{
    text-decoration: none;
    color: variable.$neutral100;
    text-align: center;
    display:block;
    transition: 0.1s ease;
    padding:4px 0px;

    &:hover{
      color: variable.$lightGreen50;
    }
  }

  .social-icons{
    display:flex;
    justify-content: center;
    a{
      display:inline-block;
      margin:6px;
    }
  }
}
.form-connect-breeders{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  h2{
    color: variable.$lightGreen;
    text-align: center;
    font-weight: 600;
    margin-bottom: map-get(variable.$gutters, lg);
  }

  .form-element{
    width:440px;
    margin:0 auto 24px auto;
    position: relative;
    background: variable.$neutral100;
    border-radius:map-get(variable.$borderRadius, sm);

    .icon-arrow-down{
      width:56px;
      height:56px;
      position:absolute;
      right:0px;
      font-size: 24px;
      color: variable.$neutral0;
      display:flex;
      justify-content: center;
      align-items: center;
      z-index:1;
    }
    select {
      height:56px;
      outline:0;
      width:100%;
      display:block;
      padding:0px 16px;
      font-size:18px;
      font-weight:600;
      -webkit-appearance:none;
      background:transparent;
      z-index:2;
      position:relative;
      border:none;
    }
    input[type="text"]{
      height:56px;
      outline:0;
      width:100%;
      display:block;
      padding:0px 16px;
      font-size:18px;
      border:none;
      border-radius:map-get(variable.$borderRadius, sm);
      font-weight:600;
    }

    button{
      background: variable.$lightGreen50;
      height:56px;
      border:none;
      border-radius:map-get(variable.$borderRadius, sm);
      width:100%;
      font-size: map-get(variable.$fontSizes, lg);
      font-weight:600;
    }

    &.no_bg{
      background:transparent;
    }
  }


}

.bread-types{
  padding: map-get(variable.$gutters, lg) 0px;
  display:flex;
  justify-content: center;
}
//hexagon shape
.hexagon_large{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 110px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: variable.$lightGreen25;
  transition: .2s ease;
  cursor: pointer;
  margin:0px 12px;

    &:hover{
        scale: 1.02;
        background: variable.$lightGreen50;
    }

  &:active{
    scale: 0.98;
  }
}
.hexagon {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: variable.$neutral100;

  &_button{
    height:100px;
    width:100px;
    display:flex;
    flex-direction: column;
align-items: center;
    justify-content: center;
    background:transparent;
    padding-top:16px;
    border:0;
  }
}

.triangle-wrapper{
  position:absolute;
  left:0px;
  top:255px;
  width:100%;
  height:110px;
  display:flex;
  justify-content: center;
  border-top: 20px solid variable.$lightGreen50;

}
.header-triangle-down-top{
  width: 0;
  height: 0;
  border-left: 360px solid transparent;
  border-right: 360px solid transparent;
  border-top: 110px solid variable.$neutral100;
  position: absolute;
  top:-20px;
  z-index: 100;
}
.header-triangle-down{
    width: 0;
    height: 0;
    border-left: 360px solid transparent;
    border-right: 360px solid transparent;
    border-top: 110px solid variable.$lightGreen50;
  position: absolute;
  z-index:90;
}

.header-icons{
  display:flex;
  margin-right:12px;

}
.icon-wrapper{
  position:relative;
  width:52px;
  margin:10px 10px;
  span{
    position: absolute;
    background: #fff;
    z-index: 10;
    top:-5px;
    right:-5px;
    width:20px;
    height:20px;
    border-radius: 44px;
    color:#000;
    font-size:16px;
    font-weight:600;
  }
}

.hexagon-small-wrapper {
  height: 52px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: variable.$primaryColor;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.hexagon-small {
  position: relative;
  height: 44px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: variable.$neutral100;
  display: flex;
  justify-content: center;
  align-items: center;


  a{
    font-size: 24px;
    color:grey;
  }
}
.hexagon-profile-pic{
    height:56px; /* adjust to control the size  */
    aspect-ratio: 1/cos(30deg);
  width:56px;
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
}
.user-sign-in{
  display:flex;
  align-items: center;
  padding-top:map-get(variable.$gutters, md);
  padding-left:map-get(variable.$gutters, sm);
  p{
    font-size: 14px;
    margin-left:12px;
    font-family: variable.$fontPrimary;
  }
}
.search-box{
  position:relative;
  width:280px;
  margin-top:12px;
  display:block;
  form{
    display:block;
  }
  button {
    position: absolute;
    right:0px;
    border:0px;
    color:grey;
    height:44px;
    width:44px;

    &:hover{
      background: transparent;
      color:#000;
    }
  }
  input[type="text"]{
    width:100%;
    height:44px;
    outline:0;
    border:thin solid #000;
    border-radius: 0px;
    padding:0px 16px;
    background:#f1f1f1;
    font-weight: 500;
  }
}
.popular-breeds{
  padding:24px 0px;
  h4{
    font-size:24px;
    font-weight:600;
  }
}
.images-array{
  display:flex;
  flex-wrap: wrap;

  img{
    width:90px;
    border-radius: 12px;
    margin-right:12px;
    margin-bottom:12px;
    height:auto;
  }
}
.mobile-menu-button{
  height:44px;
  width:44px;
  border:none;
  position:absolute;
  right:10px;
  top:10px;
  background: variable.$primaryColor;
  color: variable.$neutral100;
  border-radius: 4px;
  @include mixins.softShadow;
  transition: .1s ease;

  &:hover{
    background: variable.$lightGreen50;
    color: variable.$neutral0;
  }

  &:active{
    transform: scale(0.95);
  }
}
