@use "variable";
@use "mixins";

@include mixins.mobile {
  header{
    height:160px;
    .transparent_logo {
      display: none;
    }
    .top_header {
      flex-direction: column;

      .logo_name {
        height:auto;
        width:100%;
        justify-content: center;
        padding-top:16px;
        h1{
          font-size: 32px;
          line-height: 32px;
          text-align: center;
          span{
            font-size: 32px;
          }
        }

      }
    }

    .logo {
      width: 160px;
      height:auto;
      img{
        width:160px;
        height:auto;
      }
    }

    .header-form{
      display:none;
    }
  }


  .triangle-wrapper{
    position:absolute;
    left:0px;
    top:160px;
    width:100%;
    height:110px;
    display:flex;
    justify-content: center;
    border-top: 20px solid variable.$lightGreen50;

  }
  .header-triangle-down-top{
    width: 0;
    height: 0;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-top: 100px solid variable.$neutral100;
    position: absolute;
    top:-20px;
    z-index: 100;
  }
  .header-triangle-down{
    width: 0;
    height: 0;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-top: 100px solid variable.$lightGreen50;
    position: absolute;
    z-index:90;
  }

  .shaped-title{
    display:flex;
    width: 90%;
    flex-direction: row;
    background:transparent;
    transition: .1s ease;
    cursor:pointer;
    position: absolute;
    top:25px;
    left:5%;


    .middle-box{

      h2{
        display:block;
        width:100%;
        text-align:center;
        color: variable.$neutral0;
        text-decoration: none;
        font-weight: 600;
        font-family: variable.$fontPrimary;
        font-size:map-get(variable.$fontSizes, xxl);
      }
    }

  }

}
