@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
header {
  background: #ffffff;
  height: 255px;
}
header .transparent_logo {
  width: 250px;
  position: absolute;
}
header .top_header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
header .top_header .logo_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 255px;
  justify-content: flex-start;
}
header .top_header .logo_name a {
  text-decoration: none;
  color: #064A27;
}
header .top_header .logo_name h1 {
  font-family: "Bodoni Moda", serif;
  display: block;
  font-size: 72px;
  text-align: right;
  line-height: 60px;
  font-weight: 500;
  text-decoration: none;
}
header .top_header .logo_name h1 span {
  display: block;
  font-size: 64px;
  font-weight: 500;
}
header .top_header .header-form {
  width: 425px;
  padding-top: 4rem;
}
header .logo {
  position: relative;
  z-index: 110;
  width: 238px;
  margin: 0 auto;
}
header .logo img {
  width: auto;
  height: 320px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 480px) {
  header .top_header .logo_name {
    display: none;
  }
}
.shaped-button {
  display: flex;
  flex-direction: row;
  width: 220px;
  background: transparent;
  transition: 0.1s ease;
  cursor: pointer;
  margin-top: 12px;
}
.shaped-button .triangle-left {
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-right: 12px solid #064A27;
  border-bottom: 24px solid transparent;
}
.shaped-button .middle-box {
  background: #064A27;
  height: 48px;
  width: 220px;
  align-content: center;
}
.shaped-button .middle-box a {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  font-family: "Bodoni Moda", serif;
}
.shaped-button .triangle-right {
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-left: 12px solid #064A27;
  border-bottom: 24px solid transparent;
}
.shaped-button:hover .triangle-left {
  border-right-color: #064A27;
}
.shaped-button:hover .triangle-right {
  border-left-color: #064A27;
}
.shaped-button:hover .middle-box {
  background: #064A27;
}
.shaped-button:hover .middle-box a {
  color: #fff;
}
.shaped-button:active {
  transform: scale(0.98);
}

.shaped-title {
  display: flex;
  width: 110%;
  flex-direction: row;
  background: transparent;
  transition: 0.1s ease;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: -5%;
}
.shaped-title .triangle-left {
  width: 0;
  height: 0;
  border-top: 39px solid transparent;
  border-right: 18px solid #BFF374;
  border-bottom: 39px solid transparent;
}
.shaped-title .middle-box {
  background: #BFF374;
  height: 78px;
  align-content: center;
  width: 110%;
}
.shaped-title .middle-box h2 {
  display: block;
  width: 100%;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Bodoni Moda", serif;
  font-size: 3rem;
}
.shaped-title .triangle-right {
  width: 0;
  height: 0;
  border-top: 39px solid transparent;
  border-left: 18px solid #BFF374;
  border-bottom: 39px solid transparent;
}

.body-section {
  background: #0B2C1B;
  min-height: 920px;
  padding-top: 10rem;
}

.body-section-gradiant {
  position: relative;
  background: #0B2C1B;
  background: linear-gradient(180deg, rgb(11, 44, 27) 0%, rgba(229, 239, 199, 0.5) 100%);
  min-height: 800px;
}

.main-image-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}
.main-image-wrapper .main-image {
  width: 100%;
  height: auto;
}

.section-three-tiles {
  position: relative;
  margin-bottom: 3rem;
}
.section-three-tiles .item {
  background: #FFFFFF;
  border-radius: 1.5rem;
  align-content: center;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.section-three-tiles .item_icon {
  display: block;
  width: 64px;
  height: auto;
  margin: 12px auto;
  position: relative;
}
.section-three-tiles .item_title {
  text-align: center;
  font-weight: 600;
}
.section-three-tiles .item_text {
  text-align: center;
}

.section-help {
  background: #FFFACC;
  height: 380px;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 4rem;
}
.section-help h3 {
  font-weight: 600;
}
.section-help img {
  width: 100%;
  height: auto;
}
.section-help a.btn-primary,
.section-help a.btn-default {
  margin-right: 12px;
  text-decoration: none;
  background: #064A27;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 44px;
  color: #fff;
  font-weight: 600;
}
.section-help a.btn-primary:hover,
.section-help a.btn-default:hover {
  background: #BFF374;
  color: #000;
}
.section-help a.btn-default {
  background: #F5B128;
  color: #000;
  font-weight: 600;
}

.top-footer {
  background: #659F17;
  position: relative;
  padding: 1.5rem;
}
.top-footer_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-footer_left h2 {
  font-family: "Bodoni Moda", serif;
  color: #FFFFFF;
  margin: 0;
}
.top-footer_left h2 small {
  display: block;
  color: #BFF374;
  font-style: italic;
}
.top-footer_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-footer_right h2 {
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
}
.top-footer_right h2 small {
  display: block;
  font-size: 14px;
  font-weight: 400;
}
.top-footer_right a {
  display: block;
  height: 44px;
  width: 280px;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: thin solid #000000;
  border-radius: 0.5rem;
  align-content: center;
  background: #BFF374;
}

footer {
  background: #0B2C1B;
  position: relative;
  padding-top: 1.5rem;
}
footer .footer-line {
  height: 10px;
  background: #60FFB0;
  width: 100%;
  margin-top: 1.5rem;
}
footer h6, footer h5, footer h4, footer p {
  color: #FFFFFF;
}
footer h6, footer h5, footer h4 {
  font-weight: 600;
}
footer .footer-logo {
  width: 100px;
  height: auto;
  margin: 12px auto;
  display: block;
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  display: block;
  transition: 0.1s ease;
  padding: 4px 0px;
}
footer a:hover {
  color: #BFF374;
}
footer .social-icons {
  display: flex;
  justify-content: center;
}
footer .social-icons a {
  display: inline-block;
  margin: 6px;
}

.form-connect-breeders {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form-connect-breeders h2 {
  color: #60FFB0;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.form-connect-breeders .form-element {
  width: 440px;
  margin: 0 auto 24px auto;
  position: relative;
  background: #FFFFFF;
  border-radius: 0.5rem;
}
.form-connect-breeders .form-element .icon-arrow-down {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 0px;
  font-size: 24px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.form-connect-breeders .form-element select {
  height: 56px;
  outline: 0;
  width: 100%;
  display: block;
  padding: 0px 16px;
  font-size: 18px;
  font-weight: 600;
  -webkit-appearance: none;
  background: transparent;
  z-index: 2;
  position: relative;
  border: none;
}
.form-connect-breeders .form-element input[type=text] {
  height: 56px;
  outline: 0;
  width: 100%;
  display: block;
  padding: 0px 16px;
  font-size: 18px;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
}
.form-connect-breeders .form-element button {
  background: #BFF374;
  height: 56px;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
}
.form-connect-breeders .form-element.no_bg {
  background: transparent;
}

.bread-types {
  padding: 1.5rem 0px;
  display: flex;
  justify-content: center;
}

.hexagon_large {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px; /* adjust to control the size  */
  aspect-ratio: 1/0.8660254038;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #526C60;
  transition: 0.2s ease;
  cursor: pointer;
  margin: 0px 12px;
}
.hexagon_large:hover {
  scale: 1.02;
  background: #BFF374;
}
.hexagon_large:active {
  scale: 0.98;
}

.hexagon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* adjust to control the size  */
  aspect-ratio: 1/0.8660254038;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #FFFFFF;
}
.hexagon_button {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding-top: 16px;
  border: 0;
}

.triangle-wrapper {
  position: absolute;
  left: 0px;
  top: 255px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  border-top: 20px solid #BFF374;
}

.header-triangle-down-top {
  width: 0;
  height: 0;
  border-left: 360px solid transparent;
  border-right: 360px solid transparent;
  border-top: 110px solid #FFFFFF;
  position: absolute;
  top: -20px;
  z-index: 100;
}

.header-triangle-down {
  width: 0;
  height: 0;
  border-left: 360px solid transparent;
  border-right: 360px solid transparent;
  border-top: 110px solid #BFF374;
  position: absolute;
  z-index: 90;
}

.header-icons {
  display: flex;
  margin-right: 12px;
}

.icon-wrapper {
  position: relative;
  width: 52px;
  margin: 10px 10px;
}
.icon-wrapper span {
  position: absolute;
  background: #fff;
  z-index: 10;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 44px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.hexagon-small-wrapper {
  height: 52px; /* adjust to control the size  */
  aspect-ratio: 1/0.8660254038;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #064A27;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.hexagon-small {
  position: relative;
  height: 44px; /* adjust to control the size  */
  aspect-ratio: 1/0.8660254038;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagon-small a {
  font-size: 24px;
  color: grey;
}

.hexagon-profile-pic {
  height: 56px; /* adjust to control the size  */
  aspect-ratio: 1/0.8660254038;
  width: 56px;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
}

.user-sign-in {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 0.5rem;
}
.user-sign-in p {
  font-size: 14px;
  margin-left: 12px;
  font-family: "Bodoni Moda", serif;
}

.search-box {
  position: relative;
  width: 280px;
  margin-top: 12px;
  display: block;
}
.search-box form {
  display: block;
}
.search-box button {
  position: absolute;
  right: 0px;
  border: 0px;
  color: grey;
  height: 44px;
  width: 44px;
}
.search-box button:hover {
  background: transparent;
  color: #000;
}
.search-box input[type=text] {
  width: 100%;
  height: 44px;
  outline: 0;
  border: thin solid #000;
  border-radius: 0px;
  padding: 0px 16px;
  background: #f1f1f1;
  font-weight: 500;
}

.popular-breeds {
  padding: 24px 0px;
}
.popular-breeds h4 {
  font-size: 24px;
  font-weight: 600;
}

.images-array {
  display: flex;
  flex-wrap: wrap;
}
.images-array img {
  width: 90px;
  border-radius: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  height: auto;
}

body {
  font-optical-sizing: auto;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/*# sourceMappingURL=globals.css.map */
